.about {
  transform: translateX(100%);
  transition: -webkit-transform .5s cubic-bezier(0.465, 0.183, 0.153, 0.946);
  transition: transform .5s cubic-bezier(0.465, 0.183, 0.153, 0.946);

  &.active {
    transform: translateX(0%);
  }
}
