.dropdown-wrapper {
  position: relative;
  text-transform: uppercase;

  button:not(.hamburger) {
    color: lighten($font-color, 35);
    display: inline-block;
    height: 100%;
    padding: 2rem 0;
    width: 100%;
  }

  li {
    border-bottom: 2px solid #999;
    display: block;
    opacity: 0;

    a {
      color: lighten($font-color, 35);
    }

    &:last-of-type {
      padding: 1.5rem 0;
    }
  }

  img {
    height: auto;
    width: 4rem;
  }

  .dropdown {
    // hacky
    display: none;
    left: -50%;
    position: relative;
    transform: translateX(-84%);
    width: 105vw;
  }

  .hamburger {
    float: right;
  }

  &.active {
    .dropdown {
      display: block;
    }
  }
}
