nav {
  margin: 15rem 0 12rem 0;
}

.nav-items {
  text-align: right;
  text-transform: uppercase;

  li:nth-of-type(n+1) {
    margin-left: 2rem;
  }

  li.active {
    border-bottom: .2rem solid $font-color;
    padding-bottom: .5rem;
  }
}

@media only screen and (max-width: 640px) {
  nav,
  .nav-items {
    text-align: center;
  }

  .nav-items {
    margin-top: 3rem;

    li:nth-of-type(n+1) {
      margin-left: 0;
    }
  }
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
	nav {
    margin: 7rem 0 5rem 0;
  }
}
