.body {
  position: relative;

  > article {
    background-color: $body-color;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

}

.project {
  opacity: 0;
  transform: translateX(0%);
  transition: z-index .5s ease-out,
              opacity .3s ease-out .4s,
              transform .5s cubic-bezier(0.465, 0.183, 0.153, 0.946);
  width: 100%;
  will-change: opacity, z-index;
  z-index: -10;

  &.active {
    opacity: 1;
    z-index: 10;
  }

  &.offscreen {
    transform: translateX(-100%);
  }
}

header {
  margin-bottom: 10rem;
  position: relative;
  text-align: center;

  h2 {
    margin-bottom: 5rem;

    &:after {
      background-color: #aaa;
      content: " ";
      height: .2rem;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translateX(-50%);
      width: 8rem;
    }
  }
}

.description {
  margin-top: 3rem;

  .col-2 {
    column-count: 2;
  }

  @media only screen and (max-width: 640px) {
    .col-2 {
      column-count: 1;
    }
  }
}
