.work {
}

.project-wrapper {
}

.hi {
  margin: 0 auto;
}

.project-grid {
  margin-top: 3rem;
  overflow: visible;

  img {
    margin-bottom: 3.5rem;
  }
}

.landing {
  transition: -webkit-transform .5s cubic-bezier(0.465, 0.183, 0.153, 0.946);
  transition: transform .5s cubic-bezier(0.465, 0.183, 0.153, 0.946);

  &.inactive {
    transform: translateX(-100%);
  }
}
